@media (min-width: 576px) {
  .login-cart {
    width: 100%;
    margin: 0 auto;
  }
};

@media (min-width: 768px) {};

@media (min-width: 992px) {
  .login-cart {
    width: 500px;
    margin: 0 auto;
  }
};

@media (min-width: 1200px) {
  .login-cart {
    width: 500px;
    margin: 0 auto;
  }
};

@media (min-width: 1400px) {
  .login-cart {
    width: 500px;
    margin: 0 auto;
  }
};
