.btn{
  background-color: #88BDBC;
  font-size: 9px;
}

.editor-title {
  font-weight: 600;
  color: #000;
}

.editor-note-title {
  font-weight: 600;
}

.upload-img {
  width: 100%;
  border-radius: 15px;
}