.resource-btn {
  width: 190px;
  display: flex;
  justify-content: end;
}

.header-class {
  background-color: #88BDBC;
  font-weight: 900;
  font-size: 16px;
}

.person-info {
  font-size: 14px;
}

p {
  margin: 0px;
}