.conference-title {
  font-size: 100px;
  font-weight: 600;
  color: #fff;
  padding-top: 60px;
}

.conference-section {
  background: url(https://firebasestorage.googleapis.com/v0/b/conference-management-storage.appspot.com/o/background.png?alt=media&token=0ee3df67-512a-46e3-be44-dd07ceeed757);
  background-position: center;
  height: 70vh;
}

.conference-description {
  font-size: 23px;
  text-align: center;
  font-weight: 500;
  margin-left: 450px;
  margin-right: 450px;
  color: #fff;
}

.conference-img {
  width: 100vw;
  height: 94vh;
  max-height: fit-content;
  position: relative;
}

.conference-resource-persons {
  position: absolute; 
  top: 20%; 
}

.conference-place {
  font-size: 35px;
  margin-top: 10px;
  color: #fff;
}

.conference-time {
  font-size: 45px;
  color: #fff;
}

.conduct {
  margin-top: 40px;
}

.conduct-title {
  font-size: 60px;
  font-weight: 600;
  color: #000;
}

.conference-person-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}

.person-name {
  color: #000;
}

.person-description {
  margin-top: 25px;
  margin-left: 80px;
  margin-right: 80px;
  color: #000;
  font-size: 18px;
}

.person-phonenumber {
  font-size: 25px;
  color: #000;
}

.conduct-description {
  color: #fff;
  font-size: 25px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  padding-bottom: 60px;
}

.cover {
  background: url(https://firebasestorage.googleapis.com/v0/b/conference-management-storage.appspot.com/o/background.png?alt=media&token=0ee3df67-512a-46e3-be44-dd07ceeed757);
  color: #fff;
}

.description-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  padding-top: 50px;
}

.button {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.contact-us {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}