body {
  font-family: "SF Pro Display Bold";
  background-color: #f8f8f8;
}

.btn--pill {
  border-radius: 80px;
}

.form-text {
  font-size: 16px;
}

.validation-text {
  font-size: 13px;
}

.card {
  border-radius: 0px;
}

@media (min-width: 576px) {};

@media (min-width: 768px) {};

@media (min-width: 992px) {};

@media (min-width: 1200px) {};

@media (min-width: 1400px) {};
