body {
  font-family: "SF Pro Display Bold";
  background-color: #f8f8f8;
}
.content {
  display: flex;
  flex-direction: column;
  min-height: 94vh;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.btn--pill {
  border-radius: 80px;
}

.form-text {
  font-size: 16px;
}

.validation-text {
  font-size: 13px;
}

.card {
  border-radius: 5px;
}

.btn-color {
  background-color: #116466;
  color: #fff;
  font-size: 13px;
}

.btn-color:hover {
  color: #fff;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

@media (min-width: 576px) {};

@media (min-width: 768px) {};

@media (min-width: 992px) {};

@media (min-width: 1200px) {};

@media (min-width: 1400px) {};
